@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.editNav {
  &__header {
    background-color: $primary-white;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    display: flex;

    @include tablet {
      padding: 2rem 2rem 1.4375rem 2rem;
      justify-content: space-between;
    }

    @include desktop {
      padding: 1.5rem 2.5rem;
      justify-content: space-between;
    }
  }

  &__img {
    display: flex;
    gap: 0.5rem;
  }

  &__title {
    color: $primary-inStockBlack;
    font-weight: 600;
  }

  &__btn {
    display: flex;
    justify-content: flex-end;

    &--hidden {
      display: none;
    }
  }
}
