@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.searchNav {
    box-sizing: border-box;
    background-color: $primary-white;
    padding: 1.5rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
}