@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.list {
  background-color: $primary-white;
  padding-top: 1rem;
  padding: 1.5rem;
  border-top: 1px solid $secondary-cloud;
  display: flex;

  &__left {
    background-color: $primary-white;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
    justify-content: space-between;
  }

  &__card {
    min-height: 1rem;
    background-color: $primary-white;
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: $secondary-slate;
    font-weight: 400;
    text-transform: uppercase;
    background-color: $primary-white;
  }

  &__subcard {
    background-color: $primary-white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
  }

  &__entry {
    background-color: $primary-white;

    &--interactive {
      color: $primary-inStockIndigo;
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__img {
    width: 1.5rem;
    height: 1.5rem;
    background-color: $primary-white;

    &--right {
      text-align: right;
      align-self: flex-end;
    }
  }

  &__detail {
    color: $primary-inStockBlack;
    font-weight: 400;
    width: 70%;
    background-color: $primary-white;

    @include tablet {
      width: 9rem;
    }

    &--left {
      color: $primary-inStockIndigo;
      padding-left: 2rem;
      display: flex;
    }
  }

  &__container {
    background-color: $primary-white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__right {
    background-color: $primary-white;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
  }

  &__table {
    background-color: $primary-white;
    width: 100%;
    padding-bottom: 1rem;
  }

  &__records {
    background-color: $primary-white;
    box-sizing: border-box;
    border-top: 1px solid $secondary-cloud;
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
    align-items: center;
    justify-content: space-between;
  }

  &__actions {
    display: flex;
    gap: 0.5rem;
    padding-right: 2rem;
  }
}
