@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

body {
  font-family: "Titillium Web";
  color: $primary-inStockBlack;
}

:root {
  font-size: 100% !important;
}

* {
  padding: 0;
  margin: 0;
}

//page header
h1 {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 2.25rem;
  background-color: $primary-white;

  @include tablet {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  @include desktop {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

//subheader
h2 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
  background-color: $primary-white;

  @include tablet {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  @include desktop {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

//labels, links & buttons
h3,
.button {
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.25rem;

  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }

  @include desktop {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

//table header
h4 {
  font-size: 0.6875rem;
  font-weight: 600;
  line-height: 1rem;

  @include tablet {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }

  @include desktop {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

//body large
p1 {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.625rem;

  @include tablet {
    font-size: 1rem;
    line-height: 1.75rem;
  }

  @include desktop {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

//body medium
p2 {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.25rem;

  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }

  @include desktop {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: $background-lightgrey;
  padding: 0rem 1rem 0rem 1rem;

  @include tablet {
    padding: 0rem 2rem 0rem 2rem;
  }
}

.box {
  background-color: $primary-white;
  width: 21.4375rem;
  height: max-content;
  border-radius: 0.1875rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin-top: -8rem;
  margin-left: 1rem;
}

//body small
// .p3 {
//   font-size: 0.6875rem;
//   font-weight: 400;
//   line-height: 1rem;

//   @include tablet {
//     font-size: 0.75rem;
//     line-height: 1.125rem;
//   }

//   @include desktop {
//     font-size: 0.75rem;
//     line-height: 1.125rem;
//   }
// }
