@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

body {
  font-family: "Titillium Web";
  font-weight: 400;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  position: relative;
}

// .mainBox{
//   position: relative;
// }

// .mainBox::after {
//   content: '';
//   display: block;
//   height: 50px;
// }

:root {
  font-size: 100% !important;
}

* {
  padding: 0;
  margin: 0;
}

//page header
h1 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2.25rem;
  background-color: $primary-white;

  @include tablet {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  @include desktop {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

//subheader
h2 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
  
  @include tablet {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  @include desktop {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

//labels, links & buttons
h3 {
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.25rem;

  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }

  @include desktop {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

//table header
h4 {
  font-size: 0.6875rem;
  font-weight: 400;
  line-height: 1rem;

  @include tablet {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }

  @include desktop {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

//body large
p1 {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.625rem;

  @include tablet {
    font-size: 1rem;
    line-height: 1.75rem;
  }

  @include desktop {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

//body medium
p2 {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.25rem;

  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }

  @include desktop {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  // min-height: 100vh;
  position: relative;
  background-color: $background-lightgrey;
  padding: 0rem 1rem 0rem 1rem;

  @include tablet {
    padding: 0rem 2rem 0rem 2rem;
  }
}

.box {
  background-color: $primary-white;
  width:97.5%;
  height: max-content;
  border-radius: 0.1875rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.20);
  display: flex;
  flex-direction: column;
  margin-top: -4.25rem;
  margin-left: 0;

  @include tablet {
    width: 100%;
    margin-top: -5.85rem;
    margin-left: 0;
  }

  @include desktop {
    margin-top: -5.85rem;
    margin-left: 6.25rem;
  }
}

.modal{
  height: 100vh;
  padding: 3.75rem 1rem 1.5rem 1rem;
  position: relative;
  background-color: $primary-white;
  border-radius: 0.1875rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.20);
  
  @include tablet{
    height: 26%;
    top: 11.5rem;
    margin: 0 2rem;
  }

  &__close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: none;
    background-color: $primary-white;
  }
  
  &__title{
    font-weight: 400;
  }
  &__text{
    width: 100%;
    @include tablet{
      width: 90%;
    }
  }

  &__container{
    display: flex;
    flex-direction: column;
    gap: 28rem;

    @include tablet{
      gap: 2.5rem;
    }
  }

  &__text-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: $primary-white;
  }

  &__button-container{
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    @include tablet{
      justify-content: end;
      gap: 1rem;
    }
  }
}

.button__delete--smaller .button__secondary--smaller{
  width: 12rem;
}

//body small
// .p3 {
//   font-size: 0.6875rem;
//   font-weight: 400;
//   line-height: 1rem;

//   @include tablet {
//     font-size: 0.75rem;
//     line-height: 1.125rem;
//   }

//   @include desktop {
//     font-size: 0.75rem;
//     line-height: 1.125rem;
//   }
// }