@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

body {
  font-family: "Titillium Web";
  font-weight: 400;
}

:root {
  font-size: 100% !important;
}

* {
  padding: 0;
  margin: 0;
}

//page header
h1 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2.25rem;

  @include tablet {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  @include desktop {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

//subheader
h2 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;

  @include tablet {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  @include desktop {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

//labels, links & buttons
h3 {
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.25rem;

  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }

  @include desktop {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

//table header
h4 {
  font-size: 0.6875rem;
  font-weight: 400;
  line-height: 1rem;

  @include tablet {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }

  @include desktop {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

//body large
p1 {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.625rem;

  @include tablet {
    font-size: 1rem;
    line-height: 1.75rem;
  }

  @include desktop {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

//body medium
p2 {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.25rem;

  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }

  @include desktop {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.box {
  width:91.5vw;
  margin-left: 1rem;
  border-radius: 5px;
  background-color: $primary-white;
}
//body small
// p3 { :p3 is not recognised ny the browser. This is moved to Footer.scss
//   font-size: 0.6875rem;
//   font-weight: 400;
//   line-height: 1rem;

//   @include tablet {
//     font-size: 0.75rem;
//     line-height: 1.125rem;
//   }

//   @include desktop {
//     font-size: 0.75rem;
//     line-height: 1.125rem;
//   }
// }
