@use "../partials/variables" as *;

@mixin mobile {
  @media (max-width: $mobile-max-width) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin selected-state {
  width: 100%;
  max-width: 6.6875rem;
  color: $primary-white;
  padding: 0.5rem 0;
  background-color: $primary-inStockBlack;
  border: 1px solid $primary-inStockBlack;
  border-radius: 1.25rem;
}

@mixin hover-state {
  color: $primary-white;
  text-decoration: underline;
  cursor: pointer;
}

@mixin flex-center($gap: 1rem) {
  display: flex;
  justify-content: center;
  gap: $gap;
}

@mixin input-style {
  width: 100%;
  padding: 0rem 1rem 0rem 1rem;
  border: 1px solid $secondary-cloud;
  border-radius: 1.25rem;
  font-size: 1rem;
  box-sizing: border-box;
}

@mixin error-style {
  color: $supporting-red;
}

@mixin button-style($bg-color, $hover-color) {
  background-color: $bg-color;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 1.25rem;
  cursor: pointer;

  &:hover {
    background-color: $hover-color;
  }
}