@use "../partials/variables" as *;

@mixin tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin selected-state {
  width: 100%;
  max-width: 6.6875rem;
  color: $primary-white;
  padding: 0.5rem 0;
  background-color: $primary-inStockBlack;
  border: 1px solid $primary-inStockBlack;
  border-radius: 1.25rem;
}

@mixin hover-state {
  color: $primary-white;
  text-decoration: underline;
  cursor: pointer;
}

@mixin button-style($bg-color, $hover-bg-color) {
  padding: 1rem; 
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  background-color: $bg-color;
  transition: background-color 0.3s;
  width: 100%;
  box-sizing: border-box;

  &:hover {
    background-color: $hover-bg-color;
  }
}
