//320px
$mobile-min-width: 375px;
$mobile-max-width: 767px;

//768px
$tablet-min-width: 768px;
$tablet-max-width: 1279px;

//1280px
$desktop-min-width: 1280px;
$desktop-max-width: 1920px;

//colors
$primary-inStockBlack: #13182c;
$primary-inStockIndigo: #2e66e5;
$primary-white: #ffffff;

$secondary-slate: #5c667e;
$secondary-cloud: #bdc5d5;

$background-graphite: #232940;
$background-lightgrey: #f7f8f9;

$supporting-green: #158463;
$supporting-red: #c94515;
