@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.button {
  width: auto;

  &__primary,
  &__secondary,
  &__delete,
  &__save { 
    min-width: 4.4375rem;
    height: 2.375rem;
    padding: 0rem 1rem 0rem 1rem;
    border-radius: 20px;
    cursor: pointer;

    @include mobile {
      width: 120px;
      //max-width: none;
      height: 2.25rem;
    }

    @include tablet {
      max-width: 100%;
      height: 2.375rem;
    }

    @include desktop {
      max-width: 100%;
      height: 2.375rem;
    }

    &--item {
      @include tablet {
        width: auto !important;
      }
      @include desktop {
        width: auto !important;
      }
    }
  
  }

  &__save { 
    color: $primary-white;
    background-color: $primary-inStockIndigo;
    border: 1px solid $primary-inStockIndigo;

    &:hover {
      background-color: $background-graphite;
      border-color: $background-graphite;
    }
  }

  &__primary {
    width: auto;
    color: $primary-white;
    background-color: $primary-inStockIndigo;
    border: 1px solid $primary-inStockIndigo;

    &:hover {
      background-color: $background-graphite;
      border-color: $background-graphite;
    }

    @include tablet {
      width: 100%;
      max-width: 11rem;
    }

    @include desktop {
      width: 100%;
      max-width: 11.5rem;
    }
  }

  &__secondary {
    //width: auto;
    color: $secondary-slate;
    background-color: $primary-white;
    border: 1px solid $secondary-cloud;

    &:hover {
      color: $primary-inStockIndigo;
      border-color: $primary-inStockIndigo;
    }
  }

  &__delete {
    color: $primary-white;
    background-color: $supporting-red;
    border: 1px solid $supporting-red;

    &:hover {
      background-color: $background-graphite;
      border-color: $background-graphite;
    }
  }

  &__edit {
    color: $primary-white;
    background-image: url("../../assets/icons/edit-white-24px.svg");
    background-size: 1.25rem 1.25rem;
    background-repeat: no-repeat;
    background-position: 0.75rem center;
    background-color: $primary-inStockIndigo;
    padding: 0.5rem 2rem 0.5rem 2.5rem;
    border: 1px solid $primary-inStockIndigo;
    border-radius: 20px;

    &:hover {
      background-color: $background-graphite;
      border-color: $background-graphite;
    }

    @include mobile {
      width: 2.25rem;
      height: 2.25rem;
      text-indent: -9999px; // This will push the text out of the visible area
      padding: 0.5rem; 
      background-position: center;
    }

    @include tablet {
      max-width: 5.0625rem;
    }
  }
}
