@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.button {
  width: auto;

  &__primary,
  &__secondary,
  &__delete,
  &__edit {
    min-width: 4.4375rem;
    height: 2.375rem;
    padding: 0rem 1rem 0rem 1rem;
    border-radius: 20px;
    cursor: pointer;

    @include tablet {
      max-width: 100%;
      height: 2.375rem;
    }

    @include desktop {
      max-width: 100%;
      height: 2.375rem;
    }

    @include mobile {
      width: 100%;
      max-width: none;
      height: 2.25rem;
    }
  }

  &__primary {
    color: $primary-white;
    background-color: $primary-inStockIndigo;
    border: 1px solid $primary-inStockIndigo;

    &:hover {
      background-color: $background-graphite;
      border-color: $background-graphite;
    }
  }

  &__secondary {
    color: $secondary-slate;
    background-color: $background-lightgrey;
    border: 1px solid $secondary-slate;

    &:hover {
      color: $primary-inStockIndigo;
      border-color: $primary-inStockIndigo;
    }
  }

  &__delete {
    color: $primary-white;
    background-color: $supporting-red;
    border: 1px solid $supporting-red;

    &:hover {
      background-color: $background-graphite;
      border-color: $background-graphite;
    }
  }

  &__edit {
    width: 5.0625rem;
    background-image: url("../../assets/icons/edit-white-24px.svg");
    background-size: 1.25rem 1.25rem;
    background-repeat: no-repeat;
    background-position: 0.75rem center;
    background-color: $primary-inStockIndigo;
    padding: 0.5rem 2rem 0.5rem 2.5rem;
    border: 1px solid $primary-inStockIndigo;

    &:hover {
      background-color: $background-graphite;
      border-color: $background-graphite;
    }
  }
}
