@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.inventoryList {
  &__container {
    width: 100%;
  }

  &__table {
    box-sizing: border-box;
    width: 100%;
  }

  &__columnheader {
    display: none;
  }

  &__records {
    box-sizing: border-box;
    width: 100%;
    max-width: 21.4375rem;
    max-height: 14.75rem;
    gap: 1rem;
    padding: 1rem 0;
    border-top: 1px solid $secondary-cloud;
    display: flex;
    flex-direction: column;
  }

  &__data {
    box-sizing: border-box;
    width: 100%;

  }
}
