@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.mainCard {
    width: 21.4375rem;
    height: 100%;
    // border: 1px solid rgba(0, 0, 0, 0.20);
    border-radius: 0.1875rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.20);
    display: flex;
    flex-direction: column;
}

.inventoryItem {
    box-sizing: border-box;
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    border-top: 1px solid $secondary-cloud;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__subcontainer {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }

    &__card {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__subcard {
        display: flex;
        gap: 7rem;
    }

    &__title {
        color: $secondary-slate;
        font-weight: 400;
    }

    &__detail {
        color: $primary-inStockBlack;
        font-weight: 400;
    }
}