@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.table-element {
  padding-top: 1rem;
  padding: 1.5rem;
  border-top: 1px solid $secondary-cloud;
  background-color: $primary-white;

  &__table {
    background-color: $primary-white;
    width: 100%;
    padding-bottom: 1rem;
    flex-direction: column;
    border-collapse: collapse;
    table-layout: fixed;

    @include desktop {
      width: 100%;
    }
  }

  &__header {
    background-color: $background-lightgrey;
    box-sizing: border-box;
    width: 100%;
    gap: 0.5rem;
    padding: 0.6875rem 0;
    align-items: center;
  }

  &__sort {
    width: 1rem;
    height: 1rem;
  }

  &__records {
    background-color: $primary-white;
    box-sizing: border-box;
    width: 100%;
    border-top: 1px solid $secondary-cloud;
    vertical-align: top;
  }

  &__row {
    width: 100%;
    background-color: $background-lightgrey;
    box-sizing: border-box;
    gap: 2.75rem;
    padding-left: 2rem;
    align-items: center;
    justify-content: space-between;

    @include desktop {
      gap: 7.75rem;
    }
  }

  &__link{
    text-decoration: none;
    color: $primary-inStockIndigo;
    display: flex;
  }

  //h4
  &__columnheader {
    width: 80%;
    font-size: 0.6875rem;
    font-weight: 400;
    line-height: 1rem;
    padding: 0.5rem 0 0.5rem 2rem;
    &:nth-child(5) &--align{
      margin-left: 1rem;
    }
    text-align: left;

    &:nth-child(4){
      width:100%;
    }

    &--inventory{
      &:nth-child(4){
        width: 40%;
      }
    }

    &--flex{
      display: flex;
      align-items: center;
      justify-content: left;
    }

    &--align{
      display: flex;
      align-items: center;
    }

    @include desktop {
      font-size: 0.75rem;
      line-height: 1.125rem;
    }
  }

  &__detail {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    text-align: left;
    padding: 1rem 0 1rem 2rem;

    @include desktop {
      font-size: 0.875rem;
      line-height: 1.375rem;
    }

    &--left {
      color: $primary-inStockIndigo;
      font-size: 0.875rem;
      line-height: 1.375rem;
      font-weight: 600;
      display: flex;
      padding-left: 2.25rem;
      width: 7.5rem;

      @include desktop {
        font-size: 0.875rem;
        line-height: 1.375rem;
      }
    }
  }

  &__right {
    background-color: $primary-white;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
    justify-content: space-between;
  }

  &__actions {
    display: flex;
    gap: 0.5rem;
    padding-left: 3rem;

    &--inventory{
      padding-left: 1.75rem;
    }
  }

  &__button{
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
  }
}
