@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/titillium-web/TitilliumWeb-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/titillium-web/TitilliumWeb-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/titillium-web/TitilliumWeb-Bold.ttf") format("truetype");
  font-weight: 700;
}
body {
  font-family: "Titillium Web";
  font-weight: 400;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  position: relative;
}

:root {
  font-size: 100% !important;
}

* {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2.25rem;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
@media (min-width: 1280px) {
  h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
}
@media (min-width: 768px) {
  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (min-width: 1280px) {
  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h3 {
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.25rem;
}
@media (min-width: 768px) {
  h3 {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 1280px) {
  h3 {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

h4 {
  font-size: 0.6875rem;
  font-weight: 400;
  line-height: 1rem;
}
@media (min-width: 768px) {
  h4 {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}
@media (min-width: 1280px) {
  h4 {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

p1 {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.625rem;
}
@media (min-width: 768px) {
  p1 {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}
@media (min-width: 1280px) {
  p1 {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

p2 {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.25rem;
}
@media (min-width: 768px) {
  p2 {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 1280px) {
  p2 {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #f7f8f9;
  padding: 0rem 1rem 0rem 1rem;
}
@media (min-width: 768px) {
  .wrapper {
    padding: 0rem 2rem 0rem 2rem;
  }
}

.box {
  background-color: #ffffff;
  width: 97.5%;
  height: -moz-max-content;
  height: max-content;
  border-radius: 0.1875rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin-top: -4.25rem;
  margin-left: 0;
}
@media (min-width: 768px) {
  .box {
    margin-top: -5.85rem;
    margin-left: 0;
  }
}
@media (min-width: 1280px) {
  .box {
    margin-top: -5.85rem;
    margin-left: 6.25rem;
  }
}

.modal-container {
  width: 10rem;
  height: 10rem;
}

.modal {
  height: 41.6875rem;
  padding: 3.75rem 1rem 1.5rem 1rem;
  position: relative;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .modal {
    height: 13%;
    top: 10%;
    padding: 1rem;
    margin: 0 2rem;
  }
}
.modal__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  background-color: #ffffff;
}
.modal__title {
  font-weight: 400;
}
.modal__text {
  width: 100%;
}
@media (min-width: 768px) {
  .modal__text {
    width: 90%;
  }
}
.modal__container {
  display: flex;
  flex-direction: column;
  gap: 29rem;
}
@media (min-width: 768px) {
  .modal__container {
    gap: 2.5rem;
  }
}
.modal__text-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #ffffff;
}
.modal__button-container {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .modal__button-container {
    justify-content: end;
    gap: 1rem;
  }
}

.editInventory__footer {
  box-sizing: border-box;
  height: 4.375rem;
  background-color: #f7f8f9;
  display: flex;
  gap: 1rem;
  padding: 1rem 2rem;
  justify-content: flex-end;
}