.form-container {
  padding: 2.5rem;
  width: 100%;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .form-container {
    width: 100%;
  }
}
.form-container__header {
  text-align: left;
  margin-bottom: 2rem;
}
.form-container__header h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.form-container .form {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-right: -2rem;
}
@media (max-width: 767px) {
  .form-container .form {
    flex-direction: column;
  }
}
.form-container .form__section {
  flex: 1;
}
.form-container .form__section__heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.form-container .form__group {
  margin: 0.5rem 0;
}
.form-container .form__label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.form-container .form__input {
  width: calc(100% - 2rem);
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box;
  margin-bottom: 0.5rem 0;
}
.form-container .form__error {
  color: #dc3545;
}
.form-container .form__footer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: #bdc5d5;
  width: calc(100% + 5rem);
  padding: 5rem 2.5rem 5rem 2.5rem;
  box-sizing: border-box;
  margin: 0 -2.5rem -5rem -2.5rem;
}
.form-container .form__footer .form__submit {
  padding: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  background-color: #007bff;
  transition: background-color 0.3s;
  width: 100%;
  box-sizing: border-box;
  flex: 1;
  max-width: 100%;
}
.form-container .form__footer .form__submit:hover {
  background-color: #0056b3;
}
.form-container .form__footer .form__reset {
  padding: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  background-color: #dc3545;
  transition: background-color 0.3s;
  width: 100%;
  box-sizing: border-box;
  flex: 1;
  max-width: 100%;
}
.form-container .form__footer .form__reset:hover {
  background-color: #c82333;
}