@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.box {
  width: 21.4375rem;
  height: max-content;
  border-radius: 0.1875rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin-top: -4.25rem;
  margin-left: 1rem;

  @include tablet {
    width: 100%;
    margin-top: -5.85rem;
    margin-left: 2rem;
  }

  @include desktop {
    margin-top: -5.85rem;
    margin-left: 8rem;
  }
}

.inventory {
    &__table {
        width: 44rem;
        background-color: $background-lightgrey;
    }

    &__row {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__columnheader {
        text-transform: uppercase;
        font-size: 0.6875rem;
        font-weight: 400;
        line-height: 1rem;
        padding: 0.6875rem 0;
      
        @include tablet {
          font-size: 0.75rem;
          line-height: 1.125rem;
        }
      
        @include desktop {
          font-size: 0.75rem;
          line-height: 1.125rem;
        }
    }
}