@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.details {
  padding: 1.5rem;
  border-top: 1px solid $secondary-cloud;
  display: flex;
  flex-direction: column;
  gap: 2.25rem;

  @include tablet {
    flex-direction: row;
    padding: 2rem 2rem 1.4375rem 2rem;
  }

  @include desktop {
    flex-direction: row;
    padding: 1.5rem 2.5rem;
  }

  &__container {
    @include tablet {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
  }

  &__title {
    color: $secondary-slate;
  }

  &__subcontainer {
    @include tablet {
      display: flex;
      flex-direction: column;
    }
  }

  &__data {
    color: $primary-inStockBlack;
  }

  &__card {
    display: flex;
    flex: 1;

    @include tablet {
        border-left: 1px solid $secondary-cloud;
        padding-left: 2.5rem;
        flex: 2;
    }
  }

  &__subcard {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__person, 
  &__info {
    display: flex;
    flex-direction: column;
  }
}
